@import '../../../assets/styles/Colors.module';

.AddImagesWrapper {
  .DragAndDropArea {
	width: 50%;
	margin: 32px auto;
  }

  .AddImagesFormWrapper {
	border: 2px solid $primary;
	border-radius: 10px;
	width: 80%;
	height: 600px;
	padding: 16px 4px;

	label {
	  color: $grey;
	  cursor: pointer;
	}

	.AlbumNameAndButtonWrapper {

	  .AlbumActionsRow {
		display: flex;
		align-items: center;
		width: 100%;

		p {
		  color: $black;
		  font-weight: 600;
		  display: inline-block;
		  text-align: center;
		  margin-bottom: 0;
		  line-height: 18px;
		}

		select {
		  cursor: pointer;
		  border-radius: 4px;
		  border: 1px solid $primary;
		  padding: 5px;
		}

		.AlbumName {
		  border-radius: 4px;
		  border: 1px solid $primary;
		  padding: 5px;
		}

		button {
		  color: $white;
		  background-color: $primary;
		  border: 1px solid $primary-lighter;
		  border-radius: 5px;
		  padding: 4px;
		}
	  }
	}
  }

  @media screen and (max-width: 1000px) {
	.AlbumNameAndButtonWrapper {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  flex-direction: column;
	  height: 175px;

	  .AlbumActionsRow {
		display: flex;
		flex-direction: column;
		height: 100%;
		align-items: center;
		justify-content: space-between;
	  }
	}
  }
}
