@import "/src/assets/styles/Colors.module";

.Navbar {
  height: 100vh;
  background-color: $primary;

  &.IconsNavbar {
	width: 60px;
  }

  &.FullNavbar {
	width: 240px;
  }

  .NavbarItems {
	list-style: none;
	height: inherit;
	display: flex;
	flex-direction: column;
	margin-bottom: 0;
	padding: 8px;

	.HamburgerMenu {
	  color: $white;
	  display: flex;
	  align-items: center;
	  margin-bottom: 8px;
	  border-bottom: 2px solid $white;
	  padding: 8px;
	  height: 60px;

	  svg {
		min-width: 30px;
		height: 30px;
		cursor: pointer;
		margin: 0;
	  }

	  .MenuName {
		font-size: 24px;
		margin-left: 8px;
	  }
	}

	.Link {
	  text-decoration: none;
	}

	.Item {
	  font-size: 20px;
	  color: $white;
	  cursor: pointer;
	  margin-bottom: 8px;
	  padding: 8px;

	  span {
		margin-left: 8px;
	  }

	  &.Active {
		background-color: $primary-lighter;
		border-radius: 10px;
	  }

	  svg {
		width: 20px;
		height: 20px;
		margin: 0;
	  }

	  &.SignOut {
		margin: 0 0 8px 6px;
	  }

	  &.UserWrapper {
		cursor: initial;
		height: 60px;
		margin-bottom: 0;
		padding: 8px;
		border-top: 2px solid $white;
		display: flex;
		align-items: center;

		svg {
		  width: 30px;
		  height: 30px;
		  margin: 0;
		}

		.Avatar {
		  width: 30px;
		  height: 30px;
		  margin: 0;
		  border-radius: 50%;
		}
	  }
	}
  }
}