$white: #ffffff;
$black: #000000;
$background: #f5f6fa;
$foreground: #121212;
$primary: #102572;
$accent: #725d10;
$accent-background: #e2f0f1;
$links: #0091FF;
$hr-color: #{$primary}15;
$light-primary: #13326D;
$grey: #6E6E6E;
$danger: #d10633;
$danger-light: #ffdee0;
$success: #00bb88;
$success-light: #edf7ed;
$info: #0d3c61;
$info-light: #e8f4fd;
$warning: #f7b500;
