@import "src/assets/styles/Colors.module";

.AlbumWrapper {
  margin: 32px auto;
  width: inherit;
  max-width: 800px;
  height: 600px;
  border-radius: 10px;
  border: 3px solid $primary-light;
  box-shadow: 0 50px 50px 0 rgba(16, 37, 114, 0.1);

  .Header {
	height: 24px;
	margin: 16px 0;

	.CurrentImageText {
	  color: $primary;
	  font-weight: bold;
	  margin: 0;
	  float: left;

	  span {
		margin-left: 8px;
	  }
	}

	.Icons {
	  float: right;

	  svg {
		width: 24px;
		height: 24px;
		cursor: pointer;
		margin-left: 8px;

		&.Save {
		  color: $success;
		  width: 32px;
		  height: 32px;
		}

		&.Cancel {
		  color: $danger;
		  width: 32px;
		  height: 32px;
		}
	  }
	}
  }

  .ImageWrapper {
	width: 100%;
	min-width: 460px;
	height: calc(600px - 24px - 32px - 32px - 30px);

	img {
	  width: inherit;
	  min-width: inherit;
	  height: inherit;
	  object-fit: cover;
	}
  }

  .PreviousImageIcon, .NextImageIcon {
	margin: 16px 0;
	cursor: pointer;
	width: 30px;
	height: 30px;

	&.PreviousImageIcon {
	  float: left;
	}

	&.NextImageIcon {
	  float: right;
	}
  }
}
